[submodule "eShopOnContainers"]
	path = ms/eShopOnContainers
	url = git@github.com:dotnet-architecture/eShopOnContainers.git
[submodule "eShopOnContainersAI"]
	path = ms/eShopOnContainersAI
	url = https://github.com/dotnet-architecture/eShopOnContainersAI
[submodule "istio-tutorial"]
	path = ms/istio-tutorial
	url = git@github.com:redhat-developer-demos/istio-tutorial.git
[submodule "eda-tutorial"]
	path = ms/eda-tutorial
	url = git@github.com:redhat-developer-demos/eda-tutorial.git
[submodule "kubernetes-lab"]
	path = ms/kubernetes-lab
	url = git@github.com:redhat-developer-demos/kubernetes-lab.git
[submodule "gke-enterprise-demo"]
	path = ms/gke-enterprise-demo
	url = git@github.com:GoogleCloudPlatform/gke-enterprise-demo.git
[submodule "microservices-demo"]
	path = ms/microservices-demo
	url = git@github.com:GoogleCloudPlatform/microservices-demo.git
[submodule "SimplCommerce"]
	path = mm/SimplCommerce
	url = git@github.com:simplcommerce/SimplCommerce.git
[submodule "BroadleafCommerce"]
	path = m/BroadleafCommerce
	url = git@github.com:BroadleafCommerce/BroadleafCommerce.git
[submodule "nopCommerce"]
	path = m/nopCommerce
	url = git@github.com:nopSolutions/nopCommerce.git
[submodule "modular-monolith-with-ddd"]
	path = mm/modular-monolith-with-ddd
	url = git@github.com:kgrzybek/modular-monolith-with-ddd.git
[submodule "NorthwindTraders"]
	path = m/NorthwindTraders
	url = git@github.com:JasonGT/NorthwindTraders.git
[submodule "mm/eShopOnWeb"]
	path = m/eShopOnWeb
	url = https://github.com/dotnet-architecture/eShopOnWeb
[submodule "mm/EquinoxProject"]
	path = m/EquinoxProject
	url = git@github.com:EduardoPires/EquinoxProject.git
[submodule "mm/ddd-net-ef-core"]
	path = m/ddd-net-ef-core
	url = git@github.com:kimcu-on-thenet/ddd-net-ef-core.git
[submodule "m/inf-3910-webapp"]
	path = m/inf-3910-webapp
	url = git@github.com:juselius/inf-3910-webapp.git
[submodule "m/lab-hexagon-csharp"]
	path = m/lab-hexagon-csharp
	url = git@github.com:wallymathieu/lab-hexagon-csharp.git
[submodule "mm/IDDD_Samples"]
	path = p/IDDD_Samples
	url = git@github.com:VaughnVernon/IDDD_Samples.git
[submodule "p/IDDD_Samples_NET"]
	path = p/IDDD_Samples_NET
	url = git@github.com:VaughnVernon/IDDD_Samples_NET.git
[submodule "p/EventSourcing.NetCore"]
	path = p/EventSourcing.NetCore
	url = git@github.com:oskardudycz/EventSourcing.NetCore.git
[submodule "p/Domain-Driven-Design-Example"]
	path = p/Domain-Driven-Design-Example
	url = git@github.com:zkavtaskin/Domain-Driven-Design-Example.git
[submodule "ms/coolstore-microservices"]
	path = ms/coolstore-microservices
	url = git@github.com:vietnam-devs/coolstore-microservices.git
[submodule "ms/clean-architecture-manga"]
	path = ms/clean-architecture-manga
	url = git@github.com:ivanpaulovich/clean-architecture-manga.git
[submodule "p/OpenCQRS"]
	path = p/OpenCQRS
	url = https://github.com/lucabriguglia/OpenCQRS
[submodule "p/ExtCore"]
	path = p/ExtCore
	url = git@github.com:ExtCore/ExtCore.git
[submodule "m/clean-architecture-demo"]
	path = m/clean-architecture-demo
	url = git@github.com:matthewrenze/clean-architecture-demo.git
